<div class="detail_container">
  
  <div class="left-col">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, amet?</p>
  </div>

  <div class="container_box">
    <img class ="banner_card" src="<%= @store.img %>" width="100%">
    <div class="card_text">
    	<h1><%= @store.title %></h1>
    	<p><%= @store.intro %></p>
    	<p id="count"><%=@store.avg.round(1)%> 점 (<%=@store.comments.count%> 명)</p>
    </div>
    <%= form_tag "/home/review", method: "post" do %>
    <input type="hidden" name="shop_id" value="<%= @store.id %>">
    <span class="star-rating">
      <input type="radio" name="rating" value="1"><i></i>
      <input type="radio" name="rating" value="2"><i></i>
      <input type="radio" name="rating" value="3"><i></i>
      <input type="radio" name="rating" value="4"><i></i>
      <input type="radio" name="rating" value="5"><i></i>
    </span>
    <div class="detail">
       <div class="detail_form">
         <input type="text" name="msg" placeholder="별점체크후 평가해주세요.">
       </div>
    </div>
    <div class="detail_button">
      <button class="button">평가하기</button>
    </div>
    <% end %>
  </div>
  
  <div class="right-col">
    <div class="right-map">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, cumque.</p>
    </div>
    <div class="right-adress_time">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore recusandae aut sed suscipit
         eos. Perferendis temporibus error quae quas, fugit.
      </p>
    </div>
    <div class="right-menu">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore recusandae aut sed suscipit
         eos. Perferendis temporibus error quae quas, fugit.
      </p>
    </div>
  </div>

  
</div><br><br>


<div class="review_section">
  <div class="review-col">
    <% @store.comments.reverse.each do |c| %>
      <div class="review-well">
        <span class="star-rating_review small">
          <% 1.upto(5) do |i| %>
            <% if i == c.score %>
              <i class="on"></i>
            <% else %>
              <i></i>
            <% end %>
          <% end %>
        </span>
        <p><%= c.user.email %> : <%= c.comment %></p>
        <%= time_ago_in_words(c.created_at) %> ago
        <% if current_user.admin == true or c.user == current_user %>
          <a href="/home/review_destroy/<%= c.id %>">삭제</a>
        <% end %>
      </div>
    <% end %>
  </div> 
</div>


