<div class="detail_container">
  
  <div class="left-col">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, amet?</p>
  </div>

  <div class="container_box">

    <img class ="banner_card" src="<%= @store.img %>" width="100%">
    <div class="card_text">
    	<h1><%= @store.title %></h1>
    	<p><%= @store.intro %></p>
    	<p id="count"><%=@store.avg.round(1)%> 점 (<%=@store.comments.count%> 명)</p>
    </div>
    <%= form_tag "/home/review", method: "post" do %>
    <input type="hidden" name="shop_id" value="<%= @store.id %>">
    <span class="star-rating">
      <input type="radio" name="rating" value="1"><i></i>
      <input type="radio" name="rating" value="2"><i></i>
      <input type="radio" name="rating" value="3"><i></i>
      <input type="radio" name="rating" value="4"><i></i>
      <input type="radio" name="rating" value="5"><i></i>
    </span>
    <div class="detail">
       <div class="detail_form">
         <input type="text" name="msg" placeholder="별점체크후 평가해주세요.">
       </div>
    </div>
    <div class="detail_button">
      <button class="button">평가하기</button>
    </div>
    <% end %>
  </div>

  <div class="right-col">
    <div class="right-map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3539.9702999244837!2d153.02458531505692!3d-27.470183982890834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b915a1b528005a5%3A0xc81a9533959ab079!2sMaru+Korean+BBQ!5e0!3m2!1sen!2sau!4v1492699072331" 
              width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="right-adress_time">
      <h3>Adress : 157 Elizabeth St.<br>
                  Brisbane Queensland 4000 CBD</h3>
      <h3>Business Time :</h3>
      <p>
        Mon	11:30 am - 11:00 pm <br>
        Tue	11:30 am - 11:00 pm	<br>
        Wed	11:30 am - 11:00 pm	<br>
        Thu	11:30 am - 11:00 pm	<br>
        Fri	11:30 am - 11:00 pm	<br>
        Sat	11:30 am - 11:00 pm	<br>
        Sun	11:30 am - 11:00 pm	
      </p>
    </div>
    <div class="right-menu">
      <p>댓글 창 넓히기, 이미지 업로드, 
      </p>
    </div>
  </div>

</div><br><br>


<div class="review_section">
  <div class="review-col">
    <% @store.comments.reverse.each do |c| %>
      <div class="review-well">
        <span class="star-rating_review small">
          <% 1.upto(5) do |i| %>
            <% if i == c.score %>
              <i class="on"></i>
            <% else %>
              <i></i>
            <% end %>
          <% end %>
        </span>
        <p><%= c.user.email %> : <%= c.comment %></p>
        <%= time_ago_in_words(c.created_at) %> ago
        <% if current_user.admin == true or c.user == current_user %>
          <a href="/home/review_destroy/<%= c.id %>">삭제</a>
        <% end %>
      </div>
    <% end %>
  </div> 
</div>


